
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 27% 98%;
    --foreground: 30 10% 16%;
    --card: 33 22% 94%;
    --card-foreground: 30 10% 16%;
    --primary: 33 20% 26%;
    --primary-foreground: 33 54% 82%;
    --secondary: 30 20% 84%;
    --secondary-foreground: 30 10% 16%;
    --border: 26 17% 73%;
    --input: 26 17% 73%;
    --ring: 30 10% 16%;
    --radius: 0.5rem;
  }
  body {
    @apply bg-gradient-to-br from-mocha-900 via-mocha-700 to-mocha-500 text-foreground min-h-screen font-ui;
  }
  h1, h2, h3, h4 {
    @apply font-mocha;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
